@use '@angular/material' as mat;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  overflow: hidden;
  place-content: center;
  height: 100%;

  @include mat.theme((
          color: (
                  theme-type: light,
                  primary: mat.$azure-palette,
                  tertiary: mat.$blue-palette,
          ),
          density: 0,
  ));
}

nav {
  background-color: #6244b0;
  padding-block: 1em;;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }

  li {
    &:not(:last-child) {
      padding-inline-end: 1em;
      margin-inline-end: 1em;
      position: relative;

      &::after {
        content: '';
        width: 1px;
        background-color: white;
        position: absolute;
        inset-inline-end: 0;
        inset-block: 0;
      }
    }
  }

  a {
    color: white;
    display: block;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    transition: scale 0.15s ease-in;

    &:hover {
      text-decoration: underline;
      scale: 1.125;
    }

    &.active::after {
      background-color: currentColor;
      content: '';
      inset: -0.25em -0.5em -0.25em -0.5em;
      opacity: 0.2;
      position: absolute;
    }
  }
}

html.cdk-global-scrollblock {
  overflow: auto;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

