<header><h1>A Brief History of Vans</h1></header>
<button class="menu">
    <svg viewBox="0 0 24 24">
        <path clip-rule="evenodd"
              d="M0 3.2A1.2 1.2 0 011.2 2h21.6a1.2 1.2 0 010 2.4H1.2A1.2 1.2 0 010 3.2zm0 8.4a1.2 1.2 0 011.2-1.2h21.6a1.2 1.2 0 010 2.4H1.2A1.2 1.2 0 010 11.6zM0 20a1.2 1.2 0 011.2-1.2h21.6a1.2 1.2 0 010 2.4H1.2A1.2 1.2 0 010 20z"
              fill-rule="evenodd"/>
    </svg>
    <span class="visually-hidden">Menu</span>
</button>
<p>
    Brothers Paul Van Doren and Jim Van Doren along with partners Gordon Lee and Serge Delia open for business at 704 E.
    Broadway in Anaheim, Calif. on March 16. The Van Doren Rubber Company is unique in that it manufactures shoes on
    premises and sells them directly to the public.
</p>
<app-product-container
        [product]="products[0]"
        class="start">
</app-product-container>
<p>
    On that first morning, 12 customers purchase shoes, which are made that day and ready for pick-up in the afternoon.
</p>
<p>
    The name House of Vans is coined Early 70s Skateboarders who like Vans' rugged make-up and sticky sole are seen
    sporting for the first time and is showcased on the windows of the Anaheim location.
</p>
<p>
    The Vans #95, now known as the Era, with a padded collar and different color combinations, is designed by Tony Alva
    and Stacy Peralta and becomes the shoe of choice for a generation of skateboarders.
</p>
<p>
    Vans #36, the Old Skool, debuts with the now famous Vans Sidestripe. The Old Skool is Vans' first skate shoe that
    incorporated leather panels for increased durability. What started as a random doodle by Paul Van Doren was
    originally referred to as the "jazz stripe" and has become the unmistakable hallmark of the Vans brand.
</p>
<p>
    The Vans #98 is also introduced and with the help of skateboarders and BMX riders, Vans Classic Slip-Ons become the
    rage in Southern California and will come to be the original Slip-On silhouette that will be known as an icon for
    generations.
</p>
<app-product-container
        [product]="products[1]"
        class="end">
</app-product-container>
<p>
    The Sk8-Hi was introduced in 1978 as "Style 38," and showcased the now-iconic Vans Sidestripe on yet another
    innovative silhouette. As only the second model featuring the recognizable marker formerly known as the "jazz
    stripe," the Sk8-Hi took skate functionality to the next level above the ankle, where skateboarders used and abused
    their lower extremities the most. The Sk8-Hi not only shielded bones from skateboards catapulted at them but also
    brought a whole new look to the park.
</p>
<p>
    Vans Classic Slip-Ons gain international attention and appeal when they are worn by Sean Penn in the film Fast Times
    at Ridgemont High.
</p>
<p>
    Vans files for Chapter 11 bankruptcy protection. Although the core Vans shoes are selling well, the wide range of
    products that Vans offers have drained company resources and Vans is not able to overcome debt.
</p>
<p>
    Brothers Paul Van Doren and Jim Van Doren along with partners Gordon Lee and Serge Delia open for business at 704 E.
    Broadway in Anaheim, Calif. on March 16. The Van Doren Rubber Company is unique in that it manufactures shoes on
    premises and sells them directly to the public.
</p>
<app-product-container
        [product]="products[2]"
        class="start">
</app-product-container>
<p>
    On that first morning, 12 customers purchase shoes, which are made that day and ready for pick-up in the afternoon.
</p>
<p>
    The name House of Vans is coined Early 70s Skateboarders who like Vans' rugged make-up and sticky sole are seen
    sporting for the first time and is showcased on the windows of the Anaheim location.
</p>
<p>
    The Vans #95, now known as the Era, with a padded collar and different color combinations, is designed by Tony Alva
    and Stacy Peralta and becomes the shoe of choice for a generation of skateboarders.
</p>
<p>
    Vans #36, the Old Skool, debuts with the now famous Vans Sidestripe. The Old Skool is Vans' first skate shoe that
    incorporated leather panels for increased durability. What started as a random doodle by Paul Van Doren was
    originally referred to as the "jazz stripe" and has become the unmistakable hallmark of the Vans brand.
</p>
<p>
    The Vans #98 is also introduced and with the help of skateboarders and BMX riders, Vans Classic Slip-Ons become the
    rage in Southern California and will come to be the original Slip-On silhouette that will be known as an icon for
    generations.
</p>
<app-product-container
        [product]="products[3]"
        class="end">
</app-product-container>
<p>
    The Sk8-Hi was introduced in 1978 as "Style 38," and showcased the now-iconic Vans Sidestripe on yet another
    innovative silhouette. As only the second model featuring the recognizable marker formerly known as the "jazz
    stripe," the Sk8-Hi took skate functionality to the next level above the ankle, where skateboarders used and abused
    their lower extremities the most. The Sk8-Hi not only shielded bones from skateboards catapulted at them but also
    brought a whole new look to the park.
</p>
<p>
    Vans Classic Slip-Ons gain international attention and appeal when they are worn by Sean Penn in the film Fast Times
    at Ridgemont High.
</p>
<p>
    Vans files for Chapter 11 bankruptcy protection. Although the core Vans shoes are selling well, the wide range of
    products that Vans offers have drained company resources and Vans is not able to overcome debt.
</p>

<p>
    Brothers Paul Van Doren and Jim Van Doren along with partners Gordon Lee and Serge Delia open for business at 704 E.
    Broadway in Anaheim, Calif. on March 16. The Van Doren Rubber Company is unique in that it manufactures shoes on
    premises and sells them directly to the public.
</p>
<app-product-container
        [product]="products[4]"
        class="start">
</app-product-container>
<p>
    On that first morning, 12 customers purchase shoes, which are made that day and ready for pick-up in the afternoon.
</p>
<p>
    The name House of Vans is coined Early 70s Skateboarders who like Vans' rugged make-up and sticky sole are seen
    sporting for the first time and is showcased on the windows of the Anaheim location.
</p>
<p>
    The Vans #95, now known as the Era, with a padded collar and different color combinations, is designed by Tony Alva
    and Stacy Peralta and becomes the shoe of choice for a generation of skateboarders.
</p>
<p>
    Vans #36, the Old Skool, debuts with the now famous Vans Sidestripe. The Old Skool is Vans' first skate shoe that
    incorporated leather panels for increased durability. What started as a random doodle by Paul Van Doren was
    originally referred to as the "jazz stripe" and has become the unmistakable hallmark of the Vans brand.
</p>
<p>
    The Vans #98 is also introduced and with the help of skateboarders and BMX riders, Vans Classic Slip-Ons become the
    rage in Southern California and will come to be the original Slip-On silhouette that will be known as an icon for
    generations.
</p>
<app-product-container
        [product]="products[5]"
        class="end">
</app-product-container>
<p>
    The Sk8-Hi was introduced in 1978 as "Style 38," and showcased the now-iconic Vans Sidestripe on yet another
    innovative silhouette. As only the second model featuring the recognizable marker formerly known as the "jazz
    stripe," the Sk8-Hi took skate functionality to the next level above the ankle, where skateboarders used and abused
    their lower extremities the most. The Sk8-Hi not only shielded bones from skateboards catapulted at them but also
    brought a whole new look to the park.
</p>
<p>
    Vans Classic Slip-Ons gain international attention and appeal when they are worn by Sean Penn in the film Fast Times
    at Ridgemont High.
</p>
<p>
    Vans files for Chapter 11 bankruptcy protection. Although the core Vans shoes are selling well, the wide range of
    products that Vans offers have drained company resources and Vans is not able to overcome debt.
</p>
<p>
    Brothers Paul Van Doren and Jim Van Doren along with partners Gordon Lee and Serge Delia open for business at 704 E.
    Broadway in Anaheim, Calif. on March 16. The Van Doren Rubber Company is unique in that it manufactures shoes on
    premises and sells them directly to the public.
</p>
<app-product-container
        [product]="products[6]"
        class="start">
</app-product-container>
<p>
    On that first morning, 12 customers purchase shoes, which are made that day and ready for pick-up in the afternoon.
</p>
<p>
    The name House of Vans is coined Early 70s Skateboarders who like Vans' rugged make-up and sticky sole are seen
    sporting for the first time and is showcased on the windows of the Anaheim location.
</p>
<p>
    The Vans #95, now known as the Era, with a padded collar and different color combinations, is designed by Tony Alva
    and Stacy Peralta and becomes the shoe of choice for a generation of skateboarders.
</p>
<p>
    Vans #36, the Old Skool, debuts with the now famous Vans Sidestripe. The Old Skool is Vans' first skate shoe that
    incorporated leather panels for increased durability. What started as a random doodle by Paul Van Doren was
    originally referred to as the "jazz stripe" and has become the unmistakable hallmark of the Vans brand.
</p>
<p>
    The Vans #98 is also introduced and with the help of skateboarders and BMX riders, Vans Classic Slip-Ons become the
    rage in Southern California and will come to be the original Slip-On silhouette that will be known as an icon for
    generations.
</p>
<app-product-container
        [product]="products[7]"
        class="end">
</app-product-container>
<p>
    The Sk8-Hi was introduced in 1978 as "Style 38," and showcased the now-iconic Vans Sidestripe on yet another
    innovative silhouette. As only the second model featuring the recognizable marker formerly known as the "jazz
    stripe," the Sk8-Hi took skate functionality to the next level above the ankle, where skateboarders used and abused
    their lower extremities the most. The Sk8-Hi not only shielded bones from skateboards catapulted at them but also
    brought a whole new look to the park.
</p>
<p>
    Vans Classic Slip-Ons gain international attention and appeal when they are worn by Sean Penn in the film Fast Times
    at Ridgemont High.
</p>
<p>
    Vans files for Chapter 11 bankruptcy protection. Although the core Vans shoes are selling well, the wide range of
    products that Vans offers have drained company resources and Vans is not able to overcome debt.
</p>
<p>
    Brothers Paul Van Doren and Jim Van Doren along with partners Gordon Lee and Serge Delia open for business at 704 E.
    Broadway in Anaheim, Calif. on March 16. The Van Doren Rubber Company is unique in that it manufactures shoes on
    premises and sells them directly to the public.
</p>
<app-product-container
        [product]="products[8]"
        class="start">
</app-product-container>
<p>
    On that first morning, 12 customers purchase shoes, which are made that day and ready for pick-up in the afternoon.
</p>
<p>
    The name House of Vans is coined Early 70s Skateboarders who like Vans' rugged make-up and sticky sole are seen
    sporting for the first time and is showcased on the windows of the Anaheim location.
</p>
<p>
    The Vans #95, now known as the Era, with a padded collar and different color combinations, is designed by Tony Alva
    and Stacy Peralta and becomes the shoe of choice for a generation of skateboarders.
</p>
<p>
    Vans #36, the Old Skool, debuts with the now famous Vans Sidestripe. The Old Skool is Vans' first skate shoe that
    incorporated leather panels for increased durability. What started as a random doodle by Paul Van Doren was
    originally referred to as the "jazz stripe" and has become the unmistakable hallmark of the Vans brand.
</p>
<p>
    The Vans #98 is also introduced and with the help of skateboarders and BMX riders, Vans Classic Slip-Ons become the
    rage in Southern California and will come to be the original Slip-On silhouette that will be known as an icon for
    generations.
</p>
<app-product-container
        [product]="products[9]"
        class="end">
</app-product-container>
<p>
    The Sk8-Hi was introduced in 1978 as "Style 38," and showcased the now-iconic Vans Sidestripe on yet another
    innovative silhouette. As only the second model featuring the recognizable marker formerly known as the "jazz
    stripe," the Sk8-Hi took skate functionality to the next level above the ankle, where skateboarders used and abused
    their lower extremities the most. The Sk8-Hi not only shielded bones from skateboards catapulted at them but also
    brought a whole new look to the park.
</p>
<p>
    Vans Classic Slip-Ons gain international attention and appeal when they are worn by Sean Penn in the film Fast Times
    at Ridgemont High.
</p>
<p>
    Vans files for Chapter 11 bankruptcy protection. Although the core Vans shoes are selling well, the wide range of
    products that Vans offers have drained company resources and Vans is not able to overcome debt.
</p>
<p>
    Brothers Paul Van Doren and Jim Van Doren along with partners Gordon Lee and Serge Delia open for business at 704 E.
    Broadway in Anaheim, Calif. on March 16. The Van Doren Rubber Company is unique in that it manufactures shoes on
    premises and sells them directly to the public.
</p>
<app-product-container
        [product]="products[10]"
        class="start">
</app-product-container>
<p>
    On that first morning, 12 customers purchase shoes, which are made that day and ready for pick-up in the afternoon.
</p>
<p>
    The name House of Vans is coined Early 70s Skateboarders who like Vans' rugged make-up and sticky sole are seen
    sporting for the first time and is showcased on the windows of the Anaheim location.
</p>
<p>
    The Vans #95, now known as the Era, with a padded collar and different color combinations, is designed by Tony Alva
    and Stacy Peralta and becomes the shoe of choice for a generation of skateboarders.
</p>
<p>
    Vans #36, the Old Skool, debuts with the now famous Vans Sidestripe. The Old Skool is Vans' first skate shoe that
    incorporated leather panels for increased durability. What started as a random doodle by Paul Van Doren was
    originally referred to as the "jazz stripe" and has become the unmistakable hallmark of the Vans brand.
</p>
<p>
    The Vans #98 is also introduced and with the help of skateboarders and BMX riders, Vans Classic Slip-Ons become the
    rage in Southern California and will come to be the original Slip-On silhouette that will be known as an icon for
    generations.
</p>
<app-product-container
        [product]="products[11]"
        class="end">
</app-product-container>
<p>
    The Sk8-Hi was introduced in 1978 as "Style 38," and showcased the now-iconic Vans Sidestripe on yet another
    innovative silhouette. As only the second model featuring the recognizable marker formerly known as the "jazz
    stripe," the Sk8-Hi took skate functionality to the next level above the ankle, where skateboarders used and abused
    their lower extremities the most. The Sk8-Hi not only shielded bones from skateboards catapulted at them but also
    brought a whole new look to the park.
</p>
<p>
    Vans Classic Slip-Ons gain international attention and appeal when they are worn by Sean Penn in the film Fast Times
    at Ridgemont High.
</p>
<p>
    Vans files for Chapter 11 bankruptcy protection. Although the core Vans shoes are selling well, the wide range of
    products that Vans offers have drained company resources and Vans is not able to overcome debt.
</p>
