@use '@angular/material' as mat;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  overflow: hidden;
  height: 100%;

  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: 0,
  ));
}


.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.snackbar-success,
.snackbar-error {
  --mat-snack-bar-button-color: white;

  .mat-mdc-snack-bar-action {
    background-color: rgba(white, 0.2);
  }
}

.snackbar-success {
  --mat-snackbar-container-color: #4caf50;
}

.snackbar-error {
  --mat-snackbar-container-color: #f44336;
}
