:host {
    display: block;
    padding: 2em 3em;
}

h2 {
    margin-block-start: 0;
}

section {
    display: grid;
    grid-template-columns: 1fr 0.5fr;

    > div {
        border: solid 1px;
        font-size: 80%;
        min-width: 0;
        margin: 0 0 0 0.25rem;
        padding: 0.5em;
        word-break: break-all;
    }
}

form div {
    background-color: #eee;
    margin-bottom: 0.25em;
    padding: 0.5em
}
