:host {
    display: block;
}

label {
    display: block;
}

strong {
    display: block;
    font-size: 0.75em;
    padding-block-end: 0.25em;
}

input {
    border: solid 1px;
    border-radius: 0.75em;
    padding: 0.75em 1em;
}
