<article>
    <header>
        <h2>Sign Up</h2>
        <em>Hello! Welcome to the family.</em>
    </header>
    <div [formGroup]="signUpForm">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email Address</mat-label>
            <input matInput type="email" formControlName="email" />
        </mat-form-field>
        <button type="submit">Continue</button>
        <button (click)="closeModal()">Close</button>
    </div>
</article>
