<h2>Contact Us</h2>
<form (ngSubmit)="submitForm()" [formGroup]="contactForm">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input formControlName="name" matInput required/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input autocomplete="none" formControlName="email" matInput required type="email"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Message</mat-label>
    <textarea formControlName="message" matInput rows="4"></textarea>
  </mat-form-field>
  <button mat-raised-button type="submit">Send</button>
</form>

@if (showHelpPanel()) {
  <app-help-panel (close)="closeHelpPanel()" />
}
