.card {
    display: grid;
    width: 250px;
    padding: 20px 16px 16px;
    border-radius: 8px;
    background: white;
    box-shadow: 0 2px 16px rgba(0,0,0,0.2);
    text-align: center;

    div {
        grid-column: 1;
        grid-row: 1;
    }

    .avatar {
        border-radius: 50%;
        display: inline-block;
        width: 100px;
        height: 100px;
    }

    img.avatar {
        border: solid 1px #ccc;
    }

    h2 {
        margin-block: 9px 0;
    }

    em {
        color: #888;
        font-style: normal;
        font-size: 85%;
    }
}

.skeleton {
    .avatar,
    .text {
        background: linear-gradient(
                90deg,
                #eee 25%,
                #fff 50%,
                #eee 75%
        );
        background-size: 400% 100%;
        margin-inline: auto;
        animation: shimmer 2s infinite linear;
    }

    .title {
        border-radius: 8px;
        width: 70%;
        height: 28px;
        margin-block: 9px 3px;
    }

    .subtitle {
        height: 15px;
        border-radius: 6px;
        width: 50%;
    }
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}
